/* styles.css or your custom CSS file */
/* Change the background color to white and text color to black */
.my-dropdown {
  background-color: white;
  color: black;
}

.fixed {
  position: fixed;
  top: 53px;
  left: 0;
  right: 0;
  padding: 0px; /* Adjust padding as needed */
  z-index: 1000; /* Ensure it's above other elements */
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

 label {
  margin-bottom: 10px;
}

input {
  padding: 5px;
  width: 200px;
}

.blue-text {
  color: blue;
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.navbar {
  overflow: hidden;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 5px 5px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
  padding: 5px 15px;
  background-color: inherit;
  font: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: gray;

}

.dropdown-content {
  display: none;
  position: fixed;
  background-color: #f9f9f9;
  width: 50%;
  left: 20;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 0px;
  z-index: 1;
  height: %60;
}

.dropdown-content .header {
  background: gray;
  padding: 5px;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
  background-color: #ccc;
  height: 150px;
}

.column a {
  float: none;
  color: black;
  padding: 5px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.column a:hover {
  background-color: #ddd;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 70%;
    height: auto;
  }
}





<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {
  font-family: Arial;
}

* {
  box-sizing: border-box;
}

form.example input[type=text] {
  padding: 5px, 5px;
  font-size: 15px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

form.example button {
  float: left;
  width: 20%;
  padding: 5px, 5px;
  background: #2196F3;
  color: white;
  font-size: 10px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}


.popup-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 270px;
  background-color: white;
  border: 1px solid black;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.popup-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.popup-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popup-input {
  margin-bottom: 10px;
}

.popup-button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.popup-button {
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.popup-button.cancel {

  background-color: #ccc;
}

.popup-button.submit {
  margin-left: 35px;
  background-color: black;
  color: white;
}

.my-button {
  margin-left: 160px;
  margin-top: 14px;
  border-radius: 6px;
  background-color: black;
  color: white;
}

.transparent-blue-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: blue;
  font-size: 16px;
}

/* Custom dropdown container */
.custom-dropdown {
  position: fixed;
  display: block;
}

/* Custom dropdown button */
.custom-dropdown .dropdown-btn {
  background-color: transparent;
  border: none;
  color: black;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 550px;

}

 .custom-dropdown .dropdown-content {
  display: none;
  position: fixed;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 100%;
  left: 0;
}

.custom-dropdown:hover .dropdown-content {
  display: block;

}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 8.33%;
  padding: px;
  background-color: #ccc;
  height: 120px;
}

.column a {

  float: none;
  color: black;
  padding: 5px;
  text-decoration: none;
  display: block;
  text-align: center;

}

.column a:hover {
  background-color: #ddd;
}

.row:after {
  content: "";
  display: table;
  clear: both;

}




